@import 'style/shared';
.Section {
  padding: 10px 0;
  text-align: center;
}
.Container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  background-color: $secondary-background;
  height: 100%;

  @media screen and (min-width: $mobile-first) {
    width: $mobile-first;
  }

  @media screen and (min-width: $tablet-general) {
    width: $tablet-general;
  }

  @media screen and (min-width: $desktop-up) {
    width: $desktop-up;
  }

  @media screen and (min-width: $desktop-only) {
    width: $desktop-only;
  }
}
